/*! UIkit 2.27.5 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */


/* ========================================================================
   Component: Notify
 ========================================================================== */


/*
 * Message container for positioning
 */

.uk-notify {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1040;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 350px;
}


/* Position modifiers
========================================================================== */

.uk-notify-top-right,
.uk-notify-bottom-right {
    left: auto;
    right: 10px;
}

.uk-notify-top-center,
.uk-notify-bottom-center {
    left: 50%;
    margin-left: -175px;
}

.uk-notify-bottom-left,
.uk-notify-bottom-right,
.uk-notify-bottom-center {
    top: auto;
    bottom: 10px;
}


/* Responsiveness
========================================================================== */


/* Phones portrait and smaller */

@media (max-width: 479px) {
    /*
     * Fit in small screen
     */
    .uk-notify {
        left: 10px;
        right: 10px;
        width: auto;
        margin: 0;
    }
}


/* Sub-object: `uk-notify-message`
========================================================================== */

.uk-notify-message {
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    background: #444;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.uk-notify.uk-notify-top-center .uk-notify-message {
    padding: 0 !important;
}
.notify-phone {
    display: block !important;
    height: 45px !important;
    line-height: 45px !important;
}
.notify-img {
    float: left !important;
    padding: 8px !important;
}
    


/* Close in notify
 ========================================================================== */

.uk-notify-message>.uk-close {
    visibility: hidden;
    float: right;
}

.uk-notify-message:hover>.uk-close {
    visibility: visible;
}


/* Modifier: `uk-notify-message-primary`
 ========================================================================== */

.uk-notify-message-primary {
    background: #ebf7fd;
    color: #2d7091;
}


/* Modifier: `uk-notify-message-success`
 ========================================================================== */

.uk-notify-message-success {
    background: #f2fae3;
    color: #659f13;
}


/* Modifier: `uk-notify-message-warning`
 ========================================================================== */

.uk-notify-message-warning {
    background: #fffceb;
    color: #e28327;
}


/* Modifier: `uk-notify-message-danger`
 ========================================================================== */

.uk-notify-message-danger {
    background: #fff1f0;
    color: #d85030;
}



/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */


/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */

body {
    background: #E5E5E5;
    overflow-x: hidden;
}

.uk-container {
    padding: 0;
}

.uk-navbar {
    background: #2B2935;
    height: 70px;
    line-height: 70px;
    margin: 0;
}

.uk-navbar-nav>li>a {
    font-family: RobotoMedium;
    font-size: 13px;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    color: white;
}

.uk-navbar-nav>li.uk-active>a {
    background: transparent;
    color: #368FFF;
}

.uk-navbar-nav>li>a:active,
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li.uk-open>a {
    background: transparent;
    color: #368FFF;
}

.uk-navbar-nav>li>a.uk-button {
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.uk-navbar-nav>li>a.uk-button:hover {
    background: #008dc1;
    color: white;
}

.uk-navbar-nav {
    float: right;
}

.phone-block {
    font-family: RobotoMedium;
    font-size: 16px;
    color: white;
}

.phone-block span {
    font-family: RobotoRegular;
    font-size: 14px;
}

.tm-footer {
    text-align: left;
}

.uk-nav-header:not(:first-child) {
    margin-top: 0;
}

.uk-nav>li>a,
.tm-bottom-b .uk-nav-header {
    padding: 5px 0;
    font-family: RobotoLight;
    font-size: 16px;
    line-height: 30px;
}

.uk-nav-header {
    padding: 5px 0;
    font-family: RobotoBold;
}

.uk-nav-header+.uk-nav-header {
    font-family: RobotoLight !important;
    font-weight: normal;
}

.bottom-section {
    background: white;
    padding-top: 50px;
    padding-bottom: 60px;
}

.tm-bottom-b>div:nth-of-type(1) {
    width: 30%;
}

.tm-bottom-b>div:nth-of-type(2) {
    width: 16%;
}

.tm-bottom-b>div:nth-of-type(3) {
    width: 24%;
}

.tm-bottom-b>div:nth-of-type(4) {
    width: 15%;
}

.tm-bottom-b>div:nth-of-type(5) {
    width: 15%;
}

.uk-button-primary {
    background: #2D8AFF;
}

.what-need .uk-text-center {
    text-align: left !important;
    margin-bottom: 50px;
}

.what-need .uk-title {
    margin-bottom: 65px;
    margin-top: -20px;
}

h3.uk-title {
    font-family: RobotoMedium;
    font-size: 32px;
    line-height: 38px;
    color: #333;
}

.uk-panel-title {
    font-family: RobotoRegular;
    font-size: 24px;
    line-height: 25px;
}

.what-need p {
    font-family: RobotoRegular;
    font-size: 18px;
    line-height: 25px;
}

.what-need a {
    font-family: RobotoBold;
    font-size: 13px;
    line-height: 25px;
    color: #0E67D7;
}

.services-ico {
    background: white;
    margin-top: 30px;
    position: relative;
}

.services-ico:after {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    width: 50%;
    right: -50%;
    background: white;
    position: absolute;
}

.services-ico p {
    font-family: RobotoLight;
    font-size: 18px;
    line-height: 25px;
}

.services-ico p:first-child {
    margin-bottom: 0;
}

.services-ico .uk-panel-space {
    padding: 55px;
}

.services-ico>.uk-grid>div:nth-of-type(2)>.uk-panel-space {
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    border-left: 1px solid rgba(51, 51, 51, 0.1);
    border-right: 1px solid rgba(51, 51, 51, 0.1);
}

.services-ico>.uk-grid>div:nth-of-type(5)>.uk-panel-space {
    border-left: 1px solid rgba(51, 51, 51, 0.1);
    border-right: 1px solid rgba(51, 51, 51, 0.1);
}

.services-ico>.uk-grid>div:nth-of-type(1)>.uk-panel-space,
.services-ico>.uk-grid>div:nth-of-type(3)>.uk-panel-space {
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.select-documents {
    background: #0C70EE url(../images/Pattern.svg) right center no-repeat;
    padding: 90px 0;
    border-top: 15px solid #FFC226;
    margin-top: 0 !important;
    position: relative;
}

.select-documents:after {
    content: "";
    display: block;
    top: -15px;
    bottom: 0;
    width: 50%;
    right: -50%;
    background: white;
    position: absolute;
}

.select-documents:before {
    content: "";
    display: block;
    background: #0C70EE !important;
    top: -15px;
    bottom: 0;
    width: 50%;
    left: -50%;
    border-top: 15px solid #FFC226;
    background: white;
    position: absolute;
}

.select-documents .uk-title,
.select-documents p {
    color: white;
}

.select-documents p {
    font-family: RobotoRegular;
    font-size: 18px;
    line-height: 21px;
}

.select-documents .uk-button {
    font-family: RobotoBold;
    font-size: 14px;
    text-transform: uppercase;
    height: 46px;
    line-height: 44px;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
}

.white-block {
    margin-top: 0 !important;
    background: white;
    position: relative;
}

.white-block:before {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    width: 50%;
    left: -50%;
    background: white;
    position: absolute;
}

.white-block:after {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    width: 50%;
    right: -50%;
    background: white;
    position: absolute;
}

.akordion-select-document .uk-accordion-title {
    font-family: RobotoBold;
    font-size: 14px;
    color: #0E67D7;
    text-transform: uppercase;
    background: rgba(195, 198, 214, 0.5);
    padding: 20px 10px 20px 73px;
    position: relative;
    margin-bottom: 0;
}

.akordion-select-document .uk-accordion-title:not(.uk-active):before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: url(../images/plus.svg) center center no-repeat;
    margin-right: 32px;
    vertical-align: sub;
    margin-left: -52px;
}

.akordion-select-document .uk-accordion-title.uk-active:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: url(../images/minus.svg) center center no-repeat;
    margin-right: 20px;
    vertical-align: sub;
    margin-left: -40px;
}

.accordion-second .uk-accordion-title {
    font-family: RobotoRegular;
    font-size: 18px;
    line-height: 25px;
    text-transform: none;
    color: #0E67D7;
    background: transparent;
    height: inherit;
    margin-bottom: 0;
}

.accordion-second ul {
    font-family: RobotoLight;
    font-size: 18px;
    line-height: 25px;
    padding-left: 65px;
}

.accordion-second ul>li {
    margin-bottom: 35px;
}

.accordion-second .uk-alert p {
    font-family: RobotoMedium;
    font-size: 14px;
    line-height: 20px;
    color: #48525F;
}

.accordion-second .uk-alert {
    background: #E7F3FF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.accordion-second .uk-alert {
    padding: 35px;
}

.info-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    background: white;
    border: 1px solid #0C70EE;
    border-radius: 50%;
}

.gray-block .uk-panel-title {
    text-align: center;
}

.content-price .uk-panel {
    background: white;
}

.content-price .uk-width-medium-2-3 .uk-panel {
    /*padding: 30px;*/
}

.content-price .uk-subnav-pill>li>*,
.form-blue .uk-panel .uk-subnav-pill>li>* {
    font-family: RobotoRegular;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    background: transparent;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
}

.content-price .uk-subnav-pill>li.uk-active>*,
.form-blue .uk-panel .uk-subnav-pill>li.uk-active>* {
    font-family: RobotoBold;
    color: #0C70EE;
    background: transparent;
    border-bottom: 3px solid;
}

.content-price .uk-grid-small>* {
    padding: 0 !important;
}

.content-price .uk-subnav,
.form-blue .uk-panel .uk-subnav {
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    /*padding-left: 15px;*/
}

.content-price .uk-switcher {
    padding: 30px 45px;
    margin: 0 !important;
}

.content-price .price {
    font-size: 60px;
    line-height: 60px;
    position: relative;
}

.content-price .price span {
    font-size: 24px;
    position: relative;
}

.content-price .price span.uk-text-small {
    line-height: : 130% !important;
    font-size: 16px !important;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.content-price .price span>img {
    position: absolute;
    top: -20px;
    left: 0;
}

.content-price .uk-list {
    font-family: RobotoLight;
    font-size: 16px;
    line-height: 23px;
    margin-top: 15px;
}

.content-price .list-check>li {
    position: relative;
}

.content-price .list-check {
    margin-left: 32px;
}

.content-price .list-check>li:before {
    content: "";
    display: block;
    width: 16px;
    height: 12px;
    background: url(../images/check.svg) center center no-repeat;
    position: absolute;
    left: -30px;
    top: 6px;
}

.content-price .uk-list>li {
    margin-bottom: 15px;
}

.content-price .uk-button,
.headerbar-block .content-main .uk-button,
.uk-form .uk-button-primary,
.modal-button {
    width: 220px !important;
    height: 50px !important;
    line-height: 48px !important;
    font-family: RobotoBold !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    border-radius: 4px !important;
    margin-top: 35px;
    -webkit-box-shadow: 0px 16px 25px 0px rgba(50, 50, 50, 0.1) !important;
    box-shadow: 0px 16px 25px 0px rgba(50, 50, 50, 0.1) !important;
}

.uk-form .uk-button-primary {
    margin: 0;
    padding: 0;
}

.uk-button-shadow,
.uk-form .uk-button-primary {
    -webkit-box-shadow: 0px 16px 25px 0px rgba(50, 50, 50, 0.1) !important;
    box-shadow: 0px 16px 25px 0px rgba(50, 50, 50, 0.1) !important;
}

.headerbar-block .content-main .uk-button {
    margin-top: 15px;
    height: 60px;
    line-height: 58px;
    width: 290px;
}

.content-price .uk-button-primary,
.headerbar-block .content-main .uk-button-primary,
.uk-form .uk-button-primary,
.modal-button {
    background: #0c9dee;
    background: -o-linear-gradient(top, #0c9dee 0%, #0c70ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#0c9dee), to(#0c70ee));
    background: linear-gradient(to bottom, #0c9dee 0%, #0c70ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c9dee', endColorstr='#0c70ee', GradientType=0);
}

.content-price .uk-button-primary:hover,
.headerbar-block .content-main .uk-button-primary:hover,
.uk-form .uk-button-primary:hover,
.modal-button:hover {
    background: #0c70ee;
    background: -o-linear-gradient(top, #0c70ee 0%, #0c9dee 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#0c70ee), to(#0c9dee));
    background: linear-gradient(to bottom, #0c70ee 0%, #0c9dee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c70ee', endColorstr='#0c9dee', GradientType=0);
}

.content-price .uk-grid-divider>* {
    padding-right: 25px;
}

.content-price .uk-switcher .uk-margin-top {
    margin-top: 0 !important;
}

.content-price .title {
    font-family: RobotoRegular;
    font-size: 14px;
    text-transform: uppercase;
}

.content-price .uk-button-secondary {
    background: transparent;
    color: #0C70EE;
    border: 1px solid #0C70EE;
}

.uk-tooltip {
    background: #2D8AFF;
    border-radius: 4px;
    padding: 12px;
    -webkit-box-shadow: 0px 16px 25px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 16px 25px 0px rgba(50, 50, 50, 0.1);
}

.uk-tooltip-inner {
    font-family: RobotoLight;
    font-size: 14px;
    line-height: 16px;
}

.uk-tooltip-right:after {
    border-right-color: #2D8AFF;
}

.tm-bottom-b p {
    font-family: RobotoLight;
    font-size: 13px;
    line-height: 18px;
    width: 60%;
    margin: 45px auto 0 auto;
}

.uk-nav-side>li>a:hover,
.uk-nav-side>li>a:focus {
    background: transparent;
    color: #2D8AFF;
}

.uk-panel-space .uk-panel-title {
    font-family: RobotoBold;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 45px;
}

.question-block .uk-panel-title {
    margin-left: 60px;
}

.question-block .uk-accordion {
    background: white;
}

.question-block .uk-accordion-title {
    height: 98px;
    line-height: 96px;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: RobotoBold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
}

.question-block .uk-accordion-content.uk-active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.uk-accordion-content {
    padding: 20px;
}

.uk-accordion-content {
    font-family: RobotoLight;
    font-size: 16px;
    line-height: 130%;
    padding-left: 32px;
    padding-right: 32px;
}

.question-block .uk-accordion-title:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: url(../images/plus.svg) center center no-repeat;
    margin-right: 30px;
    vertical-align: sub;
}

.question-block .uk-accordion-title.uk-active:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: url(../images/minus.svg) center center no-repeat;
    margin-right: 30px;
    vertical-align: sub;
}

.tm-bottom-b .uk-panel-title {
    font-family: RobotoBold;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tm-bottom-b>div:not(:first-child) .uk-panel {
    margin-top: 30px;
}

.headerbar-block {
    background: white;
    position: relative;
    top: -140px;
    margin-bottom: -50px;
    padding-bottom: 70px;
}

.tm-headerbar {
    position: relative;
    z-index: 1;
}

.headerbar-block .container-images {
    position: relative;
    bottom: -90px;
    left: 50%;
    margin-left: -41%;
    height: 600px;
}

.headerbar-block .uk-overlay-scale {
    position: relative;
    z-index: 1;
}

.headerbar-block .container-images:after {
    content: "";
    display: block;
    width: 100%;
    height: 67%;
    position: absolute;
    z-index: 0;
    bottom: -15px;
    background: #0C70EE url(../images/Pattern9.svg) center center no-repeat;
}

.headerbar-block .content-main {
    width: 405px;
    position: absolute;
    left: 50%;
    margin-left: -570px;
    top: 23%;
}

.headerbar-block .content-main .uk-panel-title {
    font-family: RobotoMedium;
    font-size: 42px;
    line-height: 49px;
}

.headerbar-block .content-main .uk-panel-title>span {
    font-size: 18px;
    line-height: 130%;
}

.headerbar-block .content-main p:not(.uk-text-small) {
    font-family: RobotoRegular;
    font-size: 20px;
    line-height: 34px;
}

.headerbar-block .content-main p.uk-text-small {
    font-family: RobotoRegular;
    font-size: 12px;
}

.headerbar-block .content-main p.uk-text-small {
    margin-bottom: 5px;
}

.headerbar-block .content-main p.uk-text-small+.uk-text-small {
    margin-top: 5px;
}

.lang-city {
    color: #2D8AFF;
    border-bottom: 1px dashed;
}

.tm-navbar.uk-navbar i:not(.uk-icon-angle-down),
.tm-navbar.uk-navbar .uk-panel-title {
    font-family: RobotoLight;
    font-size: 10px;
    line-height: 12px;
    color: #C3C6D6;
    text-transform: uppercase;
    display: block;
    font-style: normal;
    line-height: 100%;
    margin-top: 13px;
    margin-bottom: -25px;
    margin-left: 25px;
}

.tm-navbar.uk-navbar .uk-panel-title {
    margin-left: 0;
}

.tm-navbar.uk-navbar .uk-float-left>.uk-panel+.uk-panel {
    margin-left: 15px;
}

.phone-block img+span {
    display: inline-block;
    margin: 0 15px;
}

.phone-block img {
    display: inline-block;
    margin-right: 5px;
}

.form-blue {
    background: #0C70EE;
    position: relative;
}

.form-blue:before {
    content: "";
    display: block;
    width: 50%;
    top: 0;
    bottom: 0;
    left: -50%;
    background: #0C70EE;
    position: absolute;
}

.form-blue:after {
    content: "";
    display: block;
    width: 50%;
    top: 0;
    bottom: 0;
    right: -30%;
    background: #0C70EE url(../images/Pattern9.svg) right center no-repeat;
    position: absolute;
}

.form-blue .uk-title,
.form-blue p {
    color: white;
}

.form-blue .uk-panel {
    background: white;
    position: relative;
    z-index: 1;
    margin-bottom: -140px;
    -webkit-box-shadow: 0px 14px 15px -5px rgba(50, 50, 50, 0.18);
    box-shadow: 0px 14px 15px -5px rgba(50, 50, 50, 0.18);
}

.form-blue .uk-dotnav {
    background: #F5F5F5;
    margin-left: 0;
    margin-top: -20px;
}

.form-blue .uk-dotnav>*>* {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #8DBEFC;
}

.form-blue .uk-dotnav>.uk-active>* {
    background: #3984E2;
}

.form-blue .uk-dotnav>*:not(:first-child) {
    padding-left: 115px;
    margin-bottom: 28px;
}
.form-blue .mobile-form .uk-dotnav>*:not(:first-child) {
    padding-left: 75px;
}
.form-blue .mobile-form .uk-dotnav>*:not(:first-child)>*:before {
    width: 65%;
}
.form-blue .uk-dotnav>* {
    position: relative;
    margin-top: 28px;
}

.form-blue .uk-dotnav>*:not(:first-child)>*:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #8CBDFC;
    position: absolute;
    right: 22px;
    top: 6px;
}

.form-blue .uk-title+p {
    font-family: RobotoRegular;
    font-size: 18px;
    line-height: 25px;
}

.uk-form h3 {
    font-family: RobotoRegular;
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;
    margin-top: 15px;
}

.ui.dropdown>.text,
.ui.dropdown .menu>.item {
    font-family: RobotoMedium;
    font-size: 13px;
    text-transform: uppercase;
}

.ui.dropdown>.dropdown.icon {
    font-family: FontAwesome !important;
}

.ui.selection.dropdown {
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 230px;
    text-align: center;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
}

.uk-form p {
    font-family: RobotoLight;
    font-size: 13px;
    line-height: 20px;
    color: black;
}

.uk-form .field+p {
    margin-top: 13px !important;
    margin-bottom: 13px !important;
}

.uk-form fieldset {
    padding-bottom: 30px;
}

.uk-form legend {
    padding-bottom: 30px;
}

.uk-sticky-placeholder {
    z-index: 100;
    position: relative;
}

.question-block {
    margin-top: 50px !important;
}

.city-block a,
.mod-languages a {
    font-family: RobotoRegular;
    font-size: 18px;
    color: #2D8AFF !important;
}

.city-block a>span,
.mod-languages a>span {
    border-bottom: 1px dotted #2D8AFF;
}

.city-block a:hover,
.mod-languages a:hover {
    text-decoration: none;
}

.city-block .uk-panel-title,
.mod-languages .uk-panel-title {
    margin-left: 18px !important;
}

.city-block .uk-dropdown .uk-nav a,
.mod-languages .uk-dropdown .uk-nav a {
    padding-left: 15px;
    padding-right: 15px;
}

.city-block .uk-nav-dropdown>li>a:hover,
.city-block .uk-nav-dropdown>li>a:focus,
.mod-languages .uk-nav-dropdown>li>a:hover,
.mod-languages .uk-nav-dropdown>li>a:focus {
    color: white !important;
}

.city-block .uk-nav-dropdown > li.uk-active > a {
    color: white !important;
    background: #00a8e6 !important;
}
.city-block .uk-dropdown-bottom,
.mod-languages .uk-dropdown-bottom {
    margin-top: 0;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
}

.city-block .uk-dropdown,
.mod-languages .uk-dropdown {
    width: 120px;
}
.city-block .uk-dropdown {
    width: 165px;
}
.ui.selection.dropdown>.dropdown.icon {
    line-height: initial;
    margin: initial;
}

.mod-languages form {
    margin: 0;
}

.chzn-container {
    width: initial !important;
}

.headerbar-block .uk-flex-middle {
    position: relative;
}

div.mod-languages li {
    margin: 0;
}

.next-button {
    position: relative;
}

.next-button:before {
    content: "";
    width: 16px;
    height: 12px;
    background: url(../images/arrow_right.svg) center center no-repeat;
    top: 18px;
    right: 10px;
    position: absolute;
}
.rsform-button-prev:after {
    content: "";
    width: 16px;
    height: 12px;
    background: url(../images/arrow_left.svg) center center no-repeat;
    top: 18px;
    left: 10px;
    position: absolute;
}
.ip-adress {
    position: absolute;
    bottom: -23px;
    z-index: -1;
    color: #2D8AFF;
}

.formResponsive input[type="button"],
.formResponsive button[type="button"],
.formResponsive input[type="submit"],
.formResponsive button[type="submit"],
.formResponsive input[type="reset"],
.formResponsive button[type="reset"] {
    padding: 0 !important;
}
.formResponsive button[type="button"].rsform-button-next:hover, 
.formResponsive input[type="button"].rsform-button-next:hover {
    background: #2d77ff !important;
}
.formResponsive input[type="button"].rsform-button-next, 
.formResponsive button[type="button"].rsform-button-next {
    background: #2d8aff !important;
    border-color: transparent !important;
}
.count-people,
.count-pasport {
    width: 230px !important;
    height: 50px !important;
    font-family: RobotoMedium !important;
    font-size: 13px !important;
    line-height: 50px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    text-align: center;
}
.count-people > option {
    display: inline-block;
    text-align: center;
}
.rsformMaps + span {
    display: inline-block;
    width: 100%;
    position: inherit !important;
}
.uk-form.formResponsive input[type=text],
.uk-form.formResponsive input[type=tel] {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0 15px !important;
    width:63% !important;
    font-family: RobotoRegular !important;
    font-size: 13px !important;
}
.uk-form.fedback.formResponsive input[type=text],
.uk-form.fedback.formResponsive textarea {
    width: 80% !important;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto !important;
}
.uk-form p#rsfp-counter-100 {
    margin-top: 0 !important;
}

.rsform-button-prev:before {
    content: none;
}
.rsform-button-prev {
    margin-right: 15px !important;
    background: transparent !important;
    border: 2px solid #C3C6D6 !important;
    color: #333333 !important;
    font-family: RobotoMedium !important;
    text-transform: uppercase !important;
}
.formResponsive button[type="submit"]:hover {
    background-position: inherit !important;
}
.formRequired {
    display: none;
}
.formControlLabel {
    width: 67%;
    margin: 0 auto;
    text-align: left;
}
.rsform-map-geolocation {
    left: 0;
    padding-left: 0;
}
.rsform-block-rename-fio .formControls {
    display: inline-block;
    width: 67%;
    margin-bottom: 15px;
    margin-top: 10px;
}
.phone-block strong {
    font-weight: normal;
}
p.formDescription {
    margin: 0px;
}
.formControls button.uk-button {
    margin: 10px !important;
}
.rsform-block-rezult ul > li:nth-of-type(odd),
.rsform-block-mob-result ul > li:nth-of-type(odd) {
    font-family: RobotoBold;
    font-size: 13px;
    line-height: 100%;
    height: inherit;
    padding-bottom: 15px;
}
.rsform-block-rezult ul > li:nth-of-type(even),
.rsform-block-mob-result ul > li:nth-of-type(even) {
    font-family: RobotoRegular;
    font-size: 13px;
    line-height: 100%;
    height: inherit;
    padding-bottom: 15px;
}
.uk-offcanvas-bar {
    padding: 15px;
}
.uk-offcanvas-bar .uk-nav a {
    padding: 0 10px;
    font-family: RobotoRegular;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
}
.uk-navbar-toggle {
    color: white;
}
.rsform-block-approve-check {
    width: 67%;
    margin: 0 auto;
}
.list-result .uk-hidden + li {
    display: none;
}
#data2 + li > span {
    display: inline-block;
    line-height: 15px;
}
.uk-accordion-content ul > li:last-child,
.uk-accordion-content ul {
    margin-bottom: 0;
}
.modal-button,
.button-question {
    margin-top: 0 !important;
}
.xdsoft_time.xdsoft_disabled {
    display: none;
}
.phone-block .uk-display-inline-block > a span {
    font-family: RobotoRegular;
    font-size: 18px;
    color: white;
    margin: 0;
}
.phone-block .uk-display-inline-block > a i {
    color: white;
    margin-right: 10px;
}
.phone-block .uk-display-inline-block > a:hover {
    text-decoration: none;
}
.phone-block .uk-display-inline-block .uk-dropdown {
    width: 165px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
}
.phone-block .uk-display-inline-block .uk-dropdown li > a {
    padding-left: 5px;
    padding-right: 5px;
    
}
.uk-offcanvas-close {
    float: right;
    color: white;
    opacity: .9;
    font-size: 18px;
}
.tm-footer {
    margin: 0;
}

.tab-general ul.uk-tab {
    background: #eaeaea;
}
.tab-general .uk-tab>li>a {
    font-size: 20px;
}

.tab-general > .uk-switcher {
    padding: 0;
}

.tab-general .uk-button {
    margin-top: 5px;
}
.tab-general > .uk-tab > li:not(.uk-active) > a {
    color: #0C70EE;
}
.main-price .uk-panel-title {
    margin-left: 40px;
}

.uk-tab>li>a{
      padding: 12px 40px;
}
