@media (min-width: 1290px) {
    .uk-visible-xlarge {
        /*display: inherit;*/
    }
    .uk-hidden-xlarge {
        display: none;
    }
}

@media (max-width: 1289px) {
    .uk-visible-xlarge {
        display: none;
    }
    .uk-hidden-xlarge {
        display: block;
    }
    .uk-navbar-nav>li>a.uk-button {
        margin-left: 0;
    }
    .uk-navbar-nav>li>a {
        font-size: 10px;
        padding: 0 10px;
    }
    .phone-block span,
    .phone-block {
        font-size: 12px;
    }
    .headerbar-block .content-main {
        margin-left: -482px;
    }
    .uk-width-large-1-1 {
        min-width: 100%;
    }
    .content-price .uk-width-medium-1-3 {
        width: 36.333%;
    }
    .content-price .uk-width-medium-2-3 {
        width: 63.333%;
    }
    .content-price .uk-switcher {
        padding: 30px;
    }
    .content-price .uk-button {
        margin-top: 5px;
    }
    .content-price .price {
        font-size: 55px;
        line-height: 55px;
    }
    .content-price .uk-list {
        font-size: 14px;
    }
    .question-block {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
    .question-block .uk-panel-title {
        margin-left: 0;
    }
    .uk-nav>li>a,
    .tm-bottom-b .uk-nav-header {
        font-size: 12px;
        line-height: 22px;
    }
    .tm-bottom-b p {
        width: 90%;
    }
    .form-blue .uk-title+p,
    .services-ico p {
        font-size: 16px;
    }
    .services-ico p {
        line-height: 22px;
    }
    .services-ico .uk-panel-space {
        padding: 30px;
    }
    .headerbar-block .content-main .uk-panel-title {
        font-size: 38px;
        line-height: 44px;
    }
}

@media (max-width: 980px) {
    .uk-container {
        max-width: 768px;
    }
    .phone-block {
        display: none;
    }
    .uk-navbar-nav>li:not(:last-child) {
        display: none;
    }
    .ip-adress {
        font-size: 12px;
    }
    .headerbar-block .content-main {
        margin-left: -385px;
    }
    .headerbar-block .content-main p:not(.uk-text-small) {
        padding-right: 60px;
        line-height: 30px;
    }
    h3.uk-title {
        font-size: 26px;
    }
    .form-blue .uk-dotnav>*:not(:first-child) {
        padding-left: 83px;
    }
    .form-blue .uk-dotnav>*:not(:first-child)>*:before {
        width: 65%;
    }
    .tm-bottom-b .uk-panel-title {
        font-size: 14px;
    }
    .uk-nav>li>a {
        line-height: 16px;
        margin-bottom: 10px;
    }
    .formResponsive select {
        width: 80% !important;
    }
    /*анимация иконки телефона на мобильных усройствах */
    #notify_phone {
        bottom: 10px;
        right: -25px;
        position: fixed;
        z-index: 10;
    }
    .img-circle {
        background-color: #29AEE3;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }
    .circlephone {
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        border: 2px solid #29AEE3;
        width: 100px;
        height: 100px;
        bottom: 0px;
        right: 35px;
        position: absolute;
        border-radius: 100%;
        opacity: .5;
        -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
        animation: circle-anim 2.4s infinite ease-in-out !important;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .circle-fill {
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        background-color: #29AEE3;
        width: 70px;
        height: 70px;
        bottom: 15px;
        right: 50px;
        position: absolute;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
        animation: circle-fill-anim 2.3s infinite ease-in-out;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .img-circle {
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        width: 45px;
        height: 45px;
        bottom: 27px;
        right: 62px;
        position: absolute;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: .7;
    }
    .img-circleblock {
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        width: 45px;
        height: 45px;
        background-image: url(../images/mini5.png);
        background-position: center center;
        background-repeat: no-repeat;
        animation-name: tossing;
        -webkit-animation-name: tossing;
        animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        background-size: 16px;
    }
    .img-circle:hover {
        opacity: 1;
    }
    @keyframes pulse {
        0% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            opacity: 1;
        }
        50% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            opacity: 1;
        }
    }
    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(0.95);
            opacity: 1;
        }
        50% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(0.95);
            opacity: 1;
        }
    }
    @keyframes tossing {
        0% {
            -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
        }
        50% {
            -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
        }
        100% {
            -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
        }
    }
    @-webkit-keyframes tossing {
        0% {
            -webkit-transform: rotate(-8deg);
        }
        50% {
            -webkit-transform: rotate(8deg);
        }
        100% {
            -webkit-transform: rotate(-8deg);
        }
    }
    @-webkit-keyframes circle-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
            -webkit-opacity: .1;
        }
        30% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            -webkit-opacity: .5;
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            -webkit-opacity: .1;
        }
    }
    @keyframes circle-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
            transform: rotate(0deg) scale(0.5) skew(1deg);
            opacity: .1;
        }
        30% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .5;
        }
        100% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .1;
        }
    }
    @-webkit-keyframes circle-fill-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2;
        }
        50% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2;
        }
        100% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2;
        }
    }
    @keyframes circle-fill-anim {
        0% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2;
        }
        50% {
            -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
            opacity: .2;
        }
        100% {
            -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
            opacity: .2;
        }
    }
}

@media (max-width: 767px) {
    .uk-navbar-nav.uk-hidden-small {
        display: block !important;
    }
    .tm-navbar .uk-container {
        padding: 0 15px;
    }
    .headerbar-block .uk-overlay-scale {
        position: inherit;
        z-index: inherit;
    }
    .headerbar-block .container-images {
        left: inherit;
        margin-left: inherit;
    }
    .headerbar-block .container-images {
        position: inherit;
    }
    .headerbar-block .container-images:after {
        height: 1%;
    }
    .headerbar-block .content-main {
        width: inherit;
        position: inherit;
        left: inherit;
        top: inherit;
        margin-left: inherit;
    }
    .headerbar-block .container-images {
        height: inherit;
        margin-top: 140px;
    }
    .uk-contaier {
        padding: 0 15px;
    }
    .uk-panel.content-main,
    .uk-panel.what-need {
        padding: 0 15px;
    }
    .select-documents {
        padding: 50px 0;
        border-top: 5px solid #FFC226;
    }
    .tm-bottom-b>div:nth-of-type(1),
    .tm-bottom-b>div:nth-of-type(2),
    .tm-bottom-b>div:nth-of-type(3),
    .tm-bottom-b>div:nth-of-type(4),
    .tm-bottom-b>div:nth-of-type(5) {
        width: 100%;
    }
    .bottom-section {
        padding-left: 15px;
        padding-right: 15px;
    }
    .uk-nav>li>a {
        font-size: 14px;
    }
    .tm-bottom-b .uk-panel-title {
        font-size: 16px;
    }
    .tm-bottom-b>div:not(:first-child) .uk-panel {
        margin-top: 0;
    }
    .content-price .uk-width-medium-1-3,
    .content-price .uk-width-medium-2-3 {
        width: 100%;
    }
    .accordion-second ul {
        padding-left: 0;
    }
    .uk-panel-space.white-block.akordion-select-document,
    .uk-panel.uk-panel-space.gray-block {
        padding: 0;
    }
    .akordion-select-document .uk-accordion-title.uk-active:before {
        margin-right: 20px;
    }
    .question-block .uk-panel-title {
        text-align: center;
        margin-top: 70px;
    }
    .services-ico .uk-width-medium-1-5 {
        width: 10%;
    }
    .services-ico .uk-width-medium-4-5 {
        width: 90%;
        margin-top: 0;
    }
    .accordion-second ul {
        font-size: 16px;
    }
    .accordion-second .uk-alert {
        padding: 20px;
    }
    .uk-accordion-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .uk-accordion-content .uk-accordion-content,
    .uk-accordion-content .uk-accordion-content .uk-accordion-content {
        padding-left: 20px;
        padding-right: 0;
    }
    .uk-alert .info-icon {
        display: none;
    }
    .uk-alert .uk-width-1-10 {
        display: none;
    }
    .uk-alert .uk-width-9-10 {
        width: 100%;
    }
    .accordion-second .uk-accordion-title,
    .akordion-select-document .uk-accordion-title {
        margin: 0;
    }
    .accordion-second .uk-accordion-title {
        font-size: 16px;
        line-height: 22px;
    }
    .uk-accordion-content.uk-active li:last-child,
    .uk-accordion-content.uk-active ul {
        margin-bottom: 0;
    }
    .services-ico>.uk-grid>div:nth-of-type(4)>.uk-panel-space,
    .services-ico>.uk-grid>div:nth-of-type(5)>.uk-panel-space {
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    }
}
@media (max-width: 560px) {
    .mobile-form  .uk-dotnav>*:not(:first-child) {
        padding-left: 35px !important;
    }
    .mobile-form .uk-dotnav>*:not(:first-child)>*:before {
        right: 16px !important;
    }
}
@media (max-width: 500px) {
    .form-blue .uk-dotnav>*:not(:first-child) {
        padding-left: 35px;
    }
    .form-blue .uk-dotnav>*:not(:first-child)>*:before {
        width: 40%;
    }

    .uk-form h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .form-blue {
        padding: 0 !important;
    }
    .form-blue:after {
        background: #0C70EE url(../images/Pattern9.svg) right top no-repeat;
    }
    .form-blue .uk-title,
    .form-blue .uk-title+p {
        position: relative;
        z-index: 1;
        padding-left: 15px;
        padding-right: 5px;
    }
    .form-blue .uk-width-large-1-3.uk-margin-large-top {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    .uk-panel-space .uk-panel-title {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .form-blue .uk-panel {
        margin-bottom: -120px;
    }
    .question-block .uk-accordion-title {
        line-height: 120%;
        height: inherit;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
    }
    .question-block .uk-accordion-title:before {
        margin-right: 15px;
        margin-left: -35px;
    }
    .question-block .uk-accordion-title.uk-active:before {
        margin-right: 15px;
    }
    .uk-accordion-content {
        font-size: 14px;
    }
    .services-ico .uk-width-medium-1-5 {
        width: 20%;
    }
    .services-ico .uk-width-medium-4-5 {
        width: 80%;
    }
    .select-documents {
        background: #0C70EE url(../images/Pattern.svg) 180% center no-repeat;
    }
    .left-blue .container-images img {
        width: 150px;
    }
    .headerbar-block .content-main p:not(.uk-text-small) {
        padding-right: 30px;
    }
    .headerbar-block .content-main {
        width: auto;
    }
    .what-need .uk-text-center {
        margin-bottom: 0;
    }
    .uk-form.formResponsive input[type=text],
    .uk-form.formResponsive input[type=tel] {
        width: 90% !important;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .xdsoft_datetimepicker .xdsoft_timepicker {
        width: 40px !important;
    }
}

@media (max-width: 330px) {
    .uk-navbar-nav.uk-hidden-small {
        display: none !important;
    }
    .uk-navbar-toggle {
        float: right;
        font-size: 26px;
    }
}